*{
	margin:0 ;
	padding: 0;


}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}
nav img{
	width: 200px;
}
.navigators{
	flex: 1;
	text-align: right;
}
.navigators ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;

}
.navigators ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}
.navigators ul li::after{
	content: '';
	width: 100%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.navigators ul li:hover::after{
	width: 0%;
}
/*........................about.................*/
.about{
	min-height: 100vh;
	width: 100%;
	background-image:  linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/university.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
h1{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: left;
	font-size: 45px;
}
#pid{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: left;
	font-size: 30px;
}
#pid:hover{
	color: #DADAD8 ;
}


/*..................................footer...................................................*/

.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
	font-size: 20px;
	background-color: #525252  ;
}
.footer h4{
	margin-bottom: 20px;
	margin-top: 20px;
	font-weight: 600;
	color:whitesmoke ;
}
.links{
	
	cursor: pointer;
	padding: 12px ;

}
img{
	width:200px;
	border-radius:30px;}

